html {
	font-size: 62.5%; /* Reset the screen size */
}

body {
	font-family: 'Lato', sans-serif;
	font-size:14px;
	font-size: 1.40rem;
	line-height: 1.5;
	color: #333;
	background-color: #474F57;
	-webkit-font-smoothing: antialiased;
}

html, body.login {height: 100%;}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

.h1, h1 {font-size:32px;font-size:3.2rem;}
.h2, h2 {font-size:26px;font-size:2.6rem;}
.h3, h3 {font-size:23px;font-size:2.3rem;}
.h4, h4 {font-size:20px;font-size:2.0rem;}
.h5, h5 {font-size:17px;font-size:1.7rem;}
.h6, h6 {font-size:14px;font-size:1.4rem;}

/* Bootstrap Resets */
.lead {font-size:21px;font-size:2.1rem;}
.bold {font-weight:600;}


/* Login Form */
#login-container {
	-webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.8);
	-moz-box-shadow:    0px 0px 6px 0px rgba(0, 0, 0, 0.8);
	box-shadow:         0px 0px 6px 0px rgba(0, 0, 0, 0.8);
	background-color:white;
	padding:20px 10px;
}

.login > .container {
	min-height: 100%;
	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
	margin: 0 auto 60px; /* the bottom margin is the negative value of the footer's height */

}

#login-container img {max-width:100px;}