div.competition_entries {
	padding-top:20px;
	padding-bottom:20px;
	clear: right;
}

div.thumbview{
	float:left;
	margin:2px;
	width: 112px;
	border-width:1px;
	border-color:#000;
	border-style:solid;
	background-color:#EEE;
	height:260px;
	padding:3px;
	font-size: 12px;
}

div.thumbview.even{
	background: #D6E7EE;
}

div.thumbview.shortlisted {
	background: #22B8B7;
}

.thumbviewimage {
	width: 104px;
	height: 104px;
	margin-left:auto;
	margin-right:auto;
}

.thumbviewimage img {
	display:block;
	margin-top:2px;
	margin-left:auto;
	margin-right:auto;
}

.thumbviewcontrols {
	margin-top: 2px;
	height: 18px;
	text-align:center;
}

.thumbviewcontrols img {
	margin-left:2px;
	margin-right:2px;
}

#competition_shortlist {
	
}

.shortlist_row {
	border-width:1px;
	border-color:#000;
	border-style:solid;
	padding: 5px;
	margin: 5px 0;
	min-height: 100px;
	height: auto;
	overflow: hidden;
}

.shortlist_row.even {
	background: #D6E7EE;
}

.shortlist_row.winner {
	background: #22B8B7;
}

.shortlist_image {
	float: left;
	width: 100px;
}

.shortlist_details {
	float: left;
	width: 400px;
	padding-left: 10px;
}

.shortlist_controls {
	float: left;
}

.shortlist_controls span {
	padding: 2px 5px;
	margin: 5px 0;
	display:block;
}

.shortlist_controls span a {
	color: white;
	text-decoration:none;
	padding:3px 6px;
}

span.disallow a, span.unshorlist a {
	background: red;
}

span.allow a, span.winner a {
	background: green;
}

span.allow_shortlist a {
	background: skyBlue;
}

span.unwinner a {
	background: #ccc;
}