td {
	color: #6E7063;
}
#complete {
	width: auto;
}

div.left {
	width: 385px;
	float: left;
}

div.right {
	width:225px;
	float: right;
}

.content table {
	border-collapse: collapse;
	margin: 5px 0 15px 0;
	}

.content table.right { 
		width:225px;
	float: right;
	margin-left: 0;
	}
	
.content table.left { 
	width:375px;
	float: left;
	margin-right: 0;
	}

.content table .alternate {
	background-color: #CBECEA;
	}
	
.content table th {
	text-align: left;
	border:1px solid black;
	padding: 3px 5px;
	color: #ffffff;
	text-transform: uppercase;
	background-color: #00958E;
	}
	
.content table td {
	padding: 3px 5px;
	border: none;
	}
	
.content table a {
	color: #000000;
	}
	
.content table a:hover {
	color: #e54b20;
	}
#dd_guarantee h3{
	margin-bottom:0;
	font-size:95%;
}
#dd_guarantee p{
	margin:5px 0;
	font-size:83%;
}
#footer{
	display:none;
}

/* Nasty clearfix hacks */
.clearfix {display:inline-block;} 
/* Hide from IE Mac \*/ 
.clearfix {display:block;} 
/* End hide from IE Mac */ 
.clearfix:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}