@charset "utf-8";
/* CSS Document */

body {
	font: 62.5% Arial, Helvetica, sans-serif;
	color: #f7f7f7;
	margin: 0;
	padding: 0;
	background: #fff;
	font-size: 14px;
	min-width: 1000px;
}

a img {
border:0px solid white;
}

/* Header */
#header-wrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 90px;
	background:url(../images/bg_header.jpg) repeat-x left bottom;
	min-width: 1000px;
}

#header {
	margin: 0 auto;
	position:relative;
	height:96px;
}

#head_left {
	float: left;	
	width: 69%;
}

#head_right {
	width: 30%;
	float: right;
}

#header .company img {
	padding: 2px;	
}

#header .company h1 {
	color: #f7f7f7;
	font-size: 13pt;
	margin-left: 100px;
	position: absolute;
	left: 75px;
	top: 54px;
	font-weight: normal;
}

#header .company h1 a {
	color: white;
	text-decoration: none;
}

.user_links a {
	color: white;
}
	
.user_links ul {
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	top: 7px;
	right: 0;
}

.user_links ul li {
	float: left;
	margin-right: 5px;
}

.nav {
	width: 67px;
	height: 30px;
	background:url(../images/bg_help.jpg) repeat-x;
	float: right;
	position: relative;
	top: 60px;
} 

.nav p.help {
	text-align: center;
	font-size: 16px;	
	font-weight: bold;
	margin-top:8px;
	padding:0;
}

.nav p.help a {
	color: #a62f29;
	text-decoration: none;
}

.nav div {
	display: none;
	color:#6E7063;
	position: absolute;
	padding:10px;
	background: #f3f3f3;
	border:1px solid #ccc;
	z-index: 100;
	right: 0;
	width: 200px;
}

/* Content */
#content_wrap {
	min-width: 995px;
	margin: 0 auto;
	position:relative;
}

.clear {
	clear: both;
	margin-top: 3px;	
}

/* Left-col Navigation */
#left_col {
	float:left;
	padding :0;
	display:inline;
	text-align:left;
	margin-right: 8px;
	width:225px;
}

.section_nav {
	border:1px solid #cdcdcb;
	background:url(../images/subnav.gif) repeat-x bottom;
	margin-bottom:10px;
	padding-bottom: 5px;
}

.section_nav h1 {
	background:url(../images/bg_gradient3.jpg) repeat-x bottom;
	padding:5px 0 5px 5px;
	margin:0 0 5px;
	font-size:17px;
	color:#13afef;
	font-weight:bold;
}

#subnav, .subnav {
	margin: 0 5px;
	border:1px solid #cdcdcb;
	border-top: none;
	background:url(../images/subnav.gif) repeat-x bottom;
}

.subnav.first {
	border:1px solid #cdcdcb;
}

#subnav h1, .subnav h1 {
	background:url(../images/bg_gradient3.jpg) repeat-x bottom;
	padding:5px;
	margin:0;
	font-size:17px;
	color:#666;
	font-weight:bold;
}

#subnav h1 a, .subnav h1 a {
	display:block;
	width:100%;
	color:inherit;
	text-decoration:none;
	font-size:17px;
}

#subnav h1 a:hover, .subnav h1 a:hover {
	text-decoration:none;
	color:#ccc;
}

#subnav ul, #subnav li, .subnav ul, .subnav li {
	margin:0;
	padding:0;
	list-style-type:none;
}

#subnav ul, .subnav ul {
	padding:5px 0 0 5px;
	margin: 0;
}

#subnav li, .subnav li {
}

#subnav li a, .subnav li a {
	border-top:1px solid #FFF;
	text-decoration:none;
	color:#666;
	display:block;
	width:203px;
	padding:4px 0 4px 5px;
	font-size:14px
}

#subnav li a:hover, .subnav li a:hover {
	color:#000;
	text-decoration:none;
}

.subnav li.active a {
font-weight: bold;
}

.subnav span {
	float: right;
}

.subnav span a {
	color: inherit;
}

/* Right Col */
h1, h1 a, h2, h2 a, h3, h3 a {
	color: #A7302A;
}

h1 {
	font-size: 18px;
}

h2 {
	font-size: 16px;
}

h3 {
	font-size: 14px;
}

#right_col {
	width:auto;
	min-width: 737px;
	padding :0;
	margin-left: 259px;
	text-align:left;
	color: #6e7063;
}

#right_col table, #right_col p, #right_col ul {
	color:#52534D;
}

#right_col p a, #right_col table a, #right_col ul a {
	color:#52534D;
	text-decoration: none;
}

#right_col a:hover {
	text-decoration: underline;
}

#page_head {
	margin-bottom: 50px;
}

#page_content {
	color: #52534d;
	width: 789px;
}

#table_head #headers {
	list-style-type:none;	
	height: 33px;
	background-image:url(../images/bg_gradient.jpg);
	background-repeat:repeat-x;	
	border: 1px solid #cdcdcd;
	margin: 0;
}

#table_head #headers li{
	position: relative;
	float: left;
	top: 10px;
}

span.first {
	width: 20px;
	margin-left: -30px;
}

span.medium {
	width: 200px;
	text-align: left;
}

span.large {
	width: 250px;
	text-align: left;
}

span.small {
	width: 85px;
	text-align: center;
}

span.last {
	width: 20px;
	clear: right;	
}

.small{font-size:small}

table.results {
	border: 1px solid #CDCDCD;
}

table.results thead {
	background-image: url(../images/bg_gradient.jpg);
	background-repeat: repeat-x;
}

thead.results th, thead.results td {
	border-bottom: 1px solid #CDCDCD;
}

table.results tr td {
	background: white;
	padding:10px;
}

table thead tr th {
    padding: 10px;
}

table#add-mini tbody td, table#edit tbody td {
    border-bottom: 1rem solid transparent;
    vertical-align: baseline;
}

table.results tr.even td, table.results tbody tr.even td {
	background: #D6E7EE;
}


table.results tr.unmoderated {
	font-weight: bold;
}

table.results td.narrow_col {
	text-align: center;
}


/* Species Spotter Sheet - Season/Centre Table */
table.spotter_sheet thead {
	background-color:#d4d4cc;
}

table.spotter_sheet .legend {
	font-size:10px;
	color:white;
	background-color:black;
}

table.spotter_sheet .titles {
	font-size:12px;
}

table.spotter_sheet tbody tr td {
	padding:10px 5px;	
}
/* End of Species Spotter Sheet Amends */



.main_info_odd .main_info_odd_data {
	list-style-type:none;	
	height: 40px;
	background-color: #fff;
	border-left: 1px solid #cdcdcd;
	border-right: 1px solid #cdcdcd;
	margin: 0;
}

.main_info_odd .main_info_odd_data li{
	position: relative;
	float: left;
	top: 10px;
}

.main_info_even .main_info_even_data {
	list-style-type:none;	
	height: 40px;
	background-color: #d6e7ee;
	border-left: 1px solid #cdcdcd;
	border-right: 1px solid #cdcdcd;
	margin: 0;
}

.main_info_even .main_info_even_data li{
	position: relative;
	float: left;
	top: 10px;
}

.sub_info_odd .sub_info_odd_data {
	list-style-type:none;	
	height: 40px;
	background-color: #fff;
	border-left: 1px solid #cdcdcd;
	border-right: 1px solid #cdcdcd;
	margin: 0;
}

.sub_info_odd .sub_info_odd_data li{
	position: relative;
	float: left;
	top: 10px;
}

.sub_info_even .sub_info_even_data {
	list-style-type:none;	
	height: 40px;
	background-color: #d6e7ee;
	border-left: 1px solid #cdcdcd;
	border-right: 1px solid #cdcdcd;
	margin: 0;
}

.sub_info_even .sub_info_even_data li{
	position: relative;
	float: left;
	top: 10px;
}

#add_sub_section .add_sub_section_list {
	list-style-type:none;	
	height: 40px;
	background-color: #dbe4c9;
	border-left: 1px solid #cdcdcd;
	border-right: 1px solid #cdcdcd;
	border-bottom: 1px solid #cdcdcd;
	margin: 0;
}

#add_sub_section .add_sub_section_list li{
	position: relative;
	float: left;
	top: 10px;
}

#add_section .add_section_list {
	list-style-type:none;	
	height: 40px;
	background-color: #dbe4c9;
	border-left: 1px solid #cdcdcd;
	border-right: 1px solid #cdcdcd;
	border-bottom: 1px solid #cdcdcd;
	margin: 0;
}

#add_section .add_section_list li{
	position: relative;
	float: left;
	top: 10px;
}

.table_class {
	border:1px solid #cdcdcb;
}

.head_col {
	background-image: url(../images/bg_gradient.jpg);
	background-repeat: repeat-x;
}

.odd, .sub_odd {
	background-color: #fff;
	height: 40px;
}

li.even {
	background-color: #d6e7ee;
	height: 40px;
}

.add_section {
	background-color: #dbe4c9;
	height: 40px;	
}

.sub_even {
	background-color: #e0e8eb;
	height: 40px;	
}


/* Footer */
#footer {
	width: 100%;
	height: 65px;
	margin: 0 auto;
	background:url(../images/bg_header.jpg) repeat-x left bottom;
	position:relative;
	clear: both;
	text-align: center;
}

#footer h3 {
	color: #d3d4c4;
	font-size: 15px;
	padding: 10px;
}

#footer h3 a{
	text-decoration: none;
	color: #eaeae4;
}

.sortablebox {
	float: left;
}

.sortablebox.right {
	margin-left: 50px;
}

#sortable, #sortable_right, #sortable_left {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 350px;
	border: 1px solid #ccc;
	padding: 15px;
}
#sortable li, #sortable_right li, #sortable_left li {
	margin: 0 0 5px;
	padding: 5px;
	font-size: 1.2em;
	min-height: 1.5em;
}
html>body #sortable li, html>body #sortable_right li, html>body #sortable_left li {
	min-height: 1.5em;
	line-height: 1.2em;
	cursor:move;
}
.ui-state-highlight {line-height: 1.2em; }

.light, .light a, a.light, #right_col table tr.light a {
	color: #ccc;
}

.cke_contents {
	height: 300px !important;
}

.timemachine_click {
	float:right;
	padding-left: 5px;
}

.timemachine {
	font-size: 12px;
}

#pages thead {
	white-space: nowrap;
}

#right_col td.sections {
	font-size: 12px;
}

#right_col td.sections, #right_col td.sections a, #right_col td.parent, #right_col td.parent a {
	color: #999;
}

p.small {
font-size: 80%;
}

ul.touch_table {
border: 1px solid #CDCDCD;
padding:0;
margin:10px 0;
display: inline-block;
}

.touch_table li{
list-style: none;
padding: 2px 10px;
}
.touch_table li.head{
background-image: url(../images/bg_gradient.jpg);
background-repeat: repeat-x;
color:#52534D;
font-weight: bold;
}

#cke_body, #cke_description {
	min-width: 777px;
}

.touch_table li.even{
background:#D6E7EE;
height: auto;
}

input.unselected {
	color: #ccc;
}

table.product_variants {
	border: 1px solid #CDCDCD;
}

table.product_variants td {
	border-top: 1px solid #CDCDCD;
	padding: 2px 10px;
}

table.category_table {
	border: 1px solid #CDCDCD;
	border-bottom: none;
}

table.category_table td {
	border-bottom: 1px solid #CDCDCD;
	padding: 2px 10px;
}

#complete {
	width:100%;
}

#complete table {
	width: 45%;
	border-collapse: collapse;
	margin: 5px 0 15px 0;
}

#complete table table {
	width: 100%
}

#complete table.right { 
	float: right;
	margin-left: 2em;
	}
	
#complete table.left { 
	float: left;
	margin-right: 2em;
	}

#complete table .alternate {
	background-color: #CBECEA;
	}
	
#complete table th {
	text-align: left;
	padding: 3px 5px;
	border: none;
	color: #ffffff;
	text-transform: uppercase;
	background-color: #1a5577;
	}
	
#complete table td {
	padding: 3px 5px;
	border: 1px solid #cccccc;
	}
	
#complete table a {
	color: #000000;
	}
	
#complete table a:hover {
	color: #e54b20;
	}
.announcements {
	float: right;
	width: 200px;
	height: 611px;
	border: 1px solid #ccc;
	margin: 10px;
	padding: 10px;
}
.quick_box {
	float: left;
	width: 200px;
	height: 252px;
	border: 1px solid #ccc;
	margin: 10px;
	padding: 10px;
	font-size: 10px;
	text-align: center;
}

.quick_box input[type=text] {
	width: 200px;
}

.quick_box input, .quick_box select {
	max-width: 200px;
}

.quick_box .icon {
	
}
img.icon {
	padding-right: 6px;
}

img.medium_icon {
	padding-right: 6px;
	position: relative;
	top: 5px;
}

img.menu_icon {
	padding-right: 6px;
	position: relative;
	top: 3px;
	float: left;
}


div#order_tabs {
	font-size: 12px;
	font-weight: bold;
	position: relative;
	top: 1px;
	z-index: 1000;
}

div#order_tabs a:link, div#order_tabs a:visited {
	color: #993333;
}

div#order_tabs a:hover, div#order_tabs a:active {
	text-decoration: underline;
}

div#order_tabs span {
	border: 1px solid #993333;
	padding: 3px 5px;
	display: block;
	float: left;
	margin-left: 5px;
}

div#order_tabs span.on {
	background: #EEEEEE;
	border-bottom: none;
	z-index: 1000;
	position: relative;
	top: 1px;
}

div#tab_full {
	clear: both;
	border: 1px solid #993333;
	background: #EEEEEE;
	padding: 5px;
}

div#tab_full table {
	width: 100%;
	border: none;
	font-size: 14px;
}

div#tab_full table th {
	border: none;
	border-bottom: 1px solid #888888;
}

div#tab_full table td {
	border: none;
	border-bottom: 1px solid #cccccc;
}

div#tab_full table td.tickbox {
	padding: 5px 0 0;
}

ul.order_min_details {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 12px;
}

ul.order_min_details li.line_sent {
	color: #AAAAAA;
}

div#tab_full table {
	border-collapse: collapse;
}

table#all_orders_table input {
	padding: 0 2px;
}

div#tab_full table td {
	padding: 5px 3px;
}

div#tab_full table td.sent_part_ship {
	font-size: 12px;
	padding: 5px 0 0;
}

div#tab_full table td.line_sent {
	color: #AAAAAA;
}

div#tab_full table td.datetime {
	font-size: 10px;
}

div#email_textarea textarea {
	height: 200px;
}

.member_detail_content {
	float: left;
}

.member_detail_content .tabs {
	float: left;
	margin-right: 10px;
	padding: 2px 5px;
	border: 1px solid #CDCDCB;
	background-color: #aaa; 
	position: relative;
	top: 1px;
	cursor: pointer;
}

.member_detail_content .tabs.selected {
	border-bottom-color: #f0f0ee;
	background-color: #f0f0ee;
}

.member_detail_content .tab_content {
	clear: both;
	border: 1px solid #CDCDCB;
	background-color: #f0f0ee;
	padding: 5px;
}

#print table {
	color: #6E7063;
}

.tab_table .tab_header {

}
.tab_table .tab_header .tab_head {
	display: inline-block;
	border: 1px solid #CDCDCD;
	background-color: white;
	padding: 5px 10px;
	margin-left: 5px;
	position: relative;
	top: 1px;
}

.tab_table .tab_header .tab_head, .tab_table .tab_header .tab_head a {
	color: #CDCDCD;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
}
.tab_table .tab_header .tab_head.active, .tab_table .tab_header .tab_head.active a {
	color: #52534D;
}
.tab_table .tab_header .tab_head.active {
	background-color: #EEE;
	border-color-bottom: #EEE;
	z-index: 100;
}

.tab_table .tab {
	border: 1px solid #CDCDCD;
	background-color: #EEE;
	padding: 5px;
	width: 500px;
}
.templates {
	border: 1px solid #ccc;
	padding: 20px;
}
.templates .template {
	border: 2px solid white;
	text-align: center;
	width: 180px;
	padding: 10px;
	float: left;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: 10px;
}

.templates h2 {
	clear: both;
}

.templates .template.active {
	border: 2px solid #13AFEF;
}

.clear_both {
	clear: both;
}

.content_box {
	border: 1px solid #ccc;
	padding: 10px;
	margin: 30px 0;
}

.module_htmledit {
	width:100%;	
}

/* Adoption Microsite */
a.adoptionactive {text-decoration:none;	}

/* CMS Error colour */
#right_col .ui-state-error p, #right_col .ui-state-error p a, .ui-state-error p	{color:white !important;}

/* CMS Events - Cost span */
.booking p .label {width:90px;float:left;}


/* Overview Reporting */
.overview_wrap {
	-webkit-box-shadow: 0 2px 2px -2px #cccccc;
	-moz-box-shadow: 0 2px 2px -2px #cccccc;
	box-shadow: 0 2px 2px -2px #cccccc;
	background: #fbfbfb;
	border: 1px solid #cdcdcd;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 20px;
	height:auto;
	float:left;
}

.overview_wrap.odd {margin-right:25px;}

.overview_wrap .overview_header {
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px;
	border-top-left-radius: 3px;background: #eaeaea;
	background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background-size: 100%;
	background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#fdfdfd),color-stop(100%,#eaeaea));
	background-image: -webkit-linear-gradient(top,#fdfdfd,#eaeaea);
	background-image: -moz-linear-gradient(top,#fdfdfd,#eaeaea);
	background-image: -o-linear-gradient(top,#fdfdfd,#eaeaea);
	background-image: linear-gradient(top,#fdfdfd,#eaeaea);
	text-shadow: 0 1px white;
	border-bottom: 1px solid #CDCDCD;
	color: #636363;
	padding:5px;
}
.overview_wrap .overview_header .header {color:#333333;}

.overview_wrap .overview_body {padding:10px;width:97%;}
.overview_wrap .overview_body .body {width:100%;float:left;}

.overview_wrap .overview_body .body p span.green {color:green;}
.overview_wrap .overview_body .body p span.orange {color:orange;}
.overview_wrap .overview_body .body p span.red {color:red;}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
* html .clearfix {
	height: 1%;
}

.overview_wrap.onecol {width:100%;}
.overview_wrap.twocol {width:45%;margin-right:25px;}

.overview_wrap.threecol {width:30%;margin-right:25px;}
.overview_wrap.twocol:last, .overview_wrap.threecol:last {margin-right:0;}
.overview_wrap.threecol .overview_body {width:91%;}

.export_form fieldset {border:none;padding:10px;}
.export_form fieldset label {width:150px;float:left;}
.hide {display:none;}
#events {float:left;}

#message { border: 1px solid red;padding: 10px;margin: 10px 0;}