


/* BOILERPLATE BELOW */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:"";content:none}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}body{font:13px/1.231 sans-serif;*font-size:small}select,input,textarea,button{font:99% sans-serif}pre,code,kbd,samp{font-family:monospace,sans-serif}a:hover,a:active{outline:none}ul,ol{margin-left:2em}ol{list-style-type:decimal}nav ul,nav li{margin:0;list-style:none;list-style-image:none}small{font-size:85%}strong,th{font-weight:bold}td{vertical-align:top}sub,sup{font-size:75%;line-height:0;position:relative}sup{top:-0.5em}sub{bottom:-0.25em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;padding:15px}textarea{overflow:auto}.ie6 legend,.ie7 legend{margin-left:-7px}input[type="radio"]{vertical-align:text-bottom}input[type="checkbox"]{vertical-align:bottom}.ie7 input[type="checkbox"]{vertical-align:baseline}.ie6 input{vertical-align:text-bottom}label,input[type="button"],input[type="submit"],input[type="image"],button{cursor:pointer}button,input,select,textarea{margin:0}input:invalid,textarea:invalid{border-radius:1px;-moz-box-shadow:0 0 5px red;-webkit-box-shadow:0 0 5px red;box-shadow:0 0 5px red}.no-boxshadow input:invalid,.no-boxshadow textarea:invalid{background-color:#f0dddd}::-moz-selection{background:#ff5e99;color:#fff;text-shadow:none}::selection{background:#ff5e99;color:#fff;text-shadow:none}a:link{-webkit-tap-highlight-color:#ff5e99}button{width:auto;overflow:visible}.ie7 img{-ms-interpolation-mode:bicubic}body,select,input,textarea{color:#444}h1,h2,h3,h4,h5,h6{font-weight:bold}a,a:active,a:visited{color:#607890}a:hover{color:#036}.ir{display:block;text-indent:-999em;overflow:hidden;background-repeat:no-repeat;text-align:left;direction:ltr}.hidden{display:none;visibility:hidden}.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto}.invisible{visibility:hidden}.clearfix:before,.clearfix:after{content:"\0020";display:block;height:0;overflow:hidden}.clearfix:after{clear:both}.clearfix{zoom:1}@media print{*{background:transparent!important;color:black!important;text-shadow:none!important;filter:none!important;-ms-filter:none!important}a,a:visited{color:#444!important;text-decoration:underline}a[href]:after{content:" (" attr(href) ")"}abbr[title]:after{content:" (" attr(title) ")"}.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:""}pre,blockquote{border:1px solid #999;page-break-inside:avoid}thead{display:table-header-group}tr,img{page-break-inside:avoid}@page{margin:.5cm}p,h2,h3{orphans:3;widows:3}h2,h3{page-break-after:avoid}}

*								{margin:0;}
html, body		{height:100%;}
ul								{margin-left:0px; list-style:none;}
h1, h2, h3, h4, h5, h6			{margin:0.5em 0;font-weight:normal;line-height:200%;color:#1A5577;}
h1								{font-size:2.2em;}
h2								{font-size:1.9em;}
h3								{font-size:1.6em;}
h4								{font-size:1.3em;}
h5								{font-size:1em;}
h6								{font-size:0.7em;}
p								{line-height:200%;margin:0.7em 0;color:#050505;}
.container						{ width:100%; background-color:#fff; font-family:Verdana, Geneva, sans-serif;min-height: 100%;height: auto !important;height: 100%;margin:0 0 -267px;}
a:link, a:visited				{color:#1A5577;text-decoration:none;}
a:hover							{text-decoration:underline;cursor:pointer;}
#main_left a					{color:#f19200;}
.pre_header						{ background-color:#27b0e4; height:40px; }
.inner							{ width:950px; margin:0 auto;  }
.pre_header_text				{ padding-top:10px; float:right;}
.pre_header_text.left			{ float:left;}
.pre_header_text li				{ color:#fff; display:inline; font-size:12px; }
.pre_header_text li				{ display:inline-block;  }
.pre_header_text li a			{ color:#fff; text-decoration:none;}
.pre_header_text li a:hover		{ color:#fff; }
.pre_header_social				{ float:right; margin-top:4px;}
.pre_header_social li a			{ text-decoration:none; color:#fff;}
.pre_header_social li a:hover	{ text-decoration:underline}
.pre_header_social a			{ display:block; border-radius:3px; }
.pre_header_social li			{ display:inline-block;}
.pre_header_social				{ margin-left:30px;}
.pre_header_social li			{ margin-left:5px;}
a.fb							{ background-image:url(/layout/social_fb.png); width:27px; height:29px;  }
a.tw							{ background-image:url(/layout/social-tw.png);width:28px; height:27px;  }
a.li							{ background-image:url(/layout/social_li.png); width:27px; height:28px; background-position:-2px 0px; }
a.yt							{ background-image:url(/layout/social_yt.png); width:27px; height:27px;  }
.main							{ background-image:url(/layout/rbg.jpg); background-repeat:repeat-x; background-position: 0px -169px; margin-bottom:44px;  }
.main.home						{ background-position:0px -1px; }
.main.home .header				{ margin-bottom:0px; }
.ht span						{ position:absolute; text-indent:-99999px;}
.header							{ padding:21px 0;  }
.logo							{ background-image:url(/layout/logo_main.jpg); width:428px; height:85px; background-position: 0 0;}
.ht								{  }
.search input[type=text]		{ border:0px none; float:left; border-radius:5px 0px 0px 5px; width:188px; height:20px; padding:6px;color:#2D4E5F;}
.search input[type=submit]		{ background-image:url(/layout/go.png); width:35px; height:31px; border:0px none; float:right;}	
.main_nav						{ color:#2d4e5f; margin-top:10px; position:relative; padding-left:26px;  }
.main_nav li					{ display:inline-block; padding-left:14px; padding-right:8px;}
.main_nav li a					{ text-decoration:none; font-size:14px; color:#2d4e5f; }
.main_nav li.active a			{ font-weight:bold;}
li.homelink						{ position:absolute; padding:0px; background-position:0px 0px; left:-4px;}
.homelink a						{ background-image:url(/layout/home_icon.jpg); width:26px; height:21px; display:block;}
.sliderBox						{ margin-top:20px;  }
.image							{ text-align:right; width:950px; position:relative;}
.image span.text				{ text-align:left; display:block; background-image:url(/layout/slideover.png); width:352px; height:143px; position:absolute; top:140px; left:5px; color:#fff; padding-left:15px; padding-right:15px; padding-top:10px;}
span.text a						{ color:#fff;}
.text h2						{ font-weight:normal; font-size:36px; line-height:48px; padding-bottom:5px; margin-bottom:0px; margin-top:0px;  }
.text							{ font-size:14px; line-height:150%;}
#next2							{ background-image:url(/layout/navright.png); width:52px; height:49px; position:absolute; z-index:1000; top:286px; left:889px;}
#prev2							{ background-image:url(/layout/navleft.png); width:52px; height:49px; position:absolute; z-index:1000; top:286px; left:48px;}
.slide_rel_wrap					{ position:relative;}
#next2, #prev2					{ cursor:pointer;}
#next2:hover, #prev2:hover		{ opacity:0.8;}
.navwrap						{ float:right;  }
.navwrap a						{ display:inline-block; width:12px; height:12px; padding:3px; padding-bottom:7px; background-color:#bee1ef; margin-left:4px; text-align:center; color:#8d9da3; text-decoration:none;}
.navwrap a.activeSlide			{ background-color:#4fb1d4; color:#fff; }
.content						{  }
.left_sidebar					{  width:521px; float:left; margin-right:38px; }
.upper_content					{  font-size:13px; width:470px;  }
.upper_content p				{ font-size:13px; margin-bottom:10px;}
.upper_content h1				{ color:#20526d; font-weight:normal; font-size:36px; margin-top:20px; margin-bottom:10px; }
.readmore						{ color:#e5bc8b;  }
.social_buttons					{ border-top:1px solid #ccc; margin-top:30px; margin-bottom:10px; padding-top:10px; width:470px;  }
.social_buttons span			{ float:right; padding-top:10px; padding-right:20px;}
.social_buttons ul				{ float:right; cursor:pointer;}
.social_buttons li				{ display:inline-block;}
.social_buttons li a			{ display:block; border-radius:3px;}
.social_buttons li a.fb			{ background-image:url(/layout/social2_fb.png); width:34px; height:34px;}
.social_buttons li a.tw			{ background-image:url(/layout/social2_tw.png); width:34px; height:34px;}
.social_buttons li a.tb			{ background-image:url(/layout/social2_tb.png); width:33px; height:33px;}
.social_buttons li a.li			{ background-image:url(/layout/social2_li.png); width:33px; height:33px;}
.social_buttons li a.yt			{ background-image:url(/layout/social2_yt.png); width:33px; height:33px;}


.fb								{  }
.latest_events					{ clear:both; margin-top:15px;  }
.latest_events h2,
.news_items h2,
.support_items h2 				{ font-size:24px; margin-bottom:20px; font-weight:normal; color:#20526d; margin-top:0px;}
.latest_events .event			{ margin-bottom:15px; }
.latest_events .image_wrap		{ margin-right:25px; float:left; width:215px; height:123px; overflow:hidden;  }
.latest_events .image_wrap img	{ width:100%;}
.latest_events .event_title		{ font-size:20px; margin-top:10px; margin-bottom:5px; }
.latest_events .event_content	{ line-height:18px; margin-bottom:5px; }
.right_sidebar					{ width:353px; margin-bottom:15px; float:right; }
.news_items						{ margin-top:12px; }
.news_items .event				{ clear:both; margin-bottom:15px; }
.news_items .image_wrap			{ float:left; margin-right:15px; width:132px; height:90px; overflow:hidden;}
.news_items .image_wrap img		{ width:100%;}
.news_items .event_title		{  font-size:16px; color:#20526d; }
.news_items .event_content		{  }
.news_items .readmore			{ margin-top:5px; display:block; }
.support_items					{ width:278px; margin-top:12px;  }
.support						{ width:84px; height:66px; float:left; margin-right:9px; }

.support_items .event			{ clear:both; padding-top:15px; padding-bottom:15px; border-bottom:1px solid #EEE; }
.support_items .event_title		{ color:#000; font-size:20px; margin-bottom:3px;}
.support_items .event_content	{  }
.support_items .readmore		{ display:block; margin-top:5px; }
.support_items h2				{ border-bottom:1px solid #EEE; padding-bottom:15px; margin-bottom:0px;}
.lower_splash					{ clear:both; margin-bottom:30px; width:916px; margin-top:30px; height:304px; background-color:#f4f5f7; padding-left:20px; padding-top:15px;}

.lower_splash .event			{ text-align:center; width:260px; display:inline-block; padding-left:20px; padding-right:20px; }
.lower_splash .image_wrap		{  }
.lower_splash .event_content	{ text-align:left; font-size:12px; line-height:21px; margin-top:14px; }
.lower_splash .readmore			{ border-radius:40px; padding:15px 0px; background-color:#1b5577; color:#fff; padding: 5px 20px 5px; 
								  display: inline-block; margin-top:15px; font-weight:bold; text-transform:uppercase; }

#footer-wrap					{ background-color:#196889;height:267px;clear:both; font-family:Verdana, Geneva, sans-serif; }
.footer							{ padding:20px 0;}
.footer	.inner					{ height:227px;overflow:hidden;}


.twitter-feed					{ width:291px; margin-left:70px; position:relative; display:inline-block;  }
.tweet_odd, .tweet_even 		{ padding:0 0 10px 0;}
.t_icon							{ background-image:url(/layout/footer_twitter.png); width:48px; height:48px; position:absolute; left:-70px;}
.twitter-feed h3				{ color:#e2ffff; margin-bottom:15px; font-weight:normal; font-size:20px; line-height:normal;margin-top:0;  }
.feed-item						{ color:#e2ffff; margin-bottom:15px;  }
.feed-item p					{ color:#e2ffff;line-height:normal;}
.feed-item a					{ color:#57b8e7; }
.feed-item em					{ font-style:italic;}
.contact_info					{ width:145px; display:inline-block; color:#fff; vertical-align:top; margin-left:100px;  }
.contact_info h3				{ color:#fff;  margin-bottom:15px; font-weight:normal; font-size:20px; line-height:normal;margin-top:0;}
.footer_logo					{ background-image:url(/layout/footer-logo.jpg); width:224px; height:165px; float:right; }
.footer_post					{ background-color:#1a5577; padding:10px; color:#e2ffff;height:16px; }


/* Breadcrumbs */
#breadcrumb						{ float:left;width:950px;margin:21px 0; font-size:11px; margin-bottom:15px;}
#breadcrumb ul					{ float:left;}
#breadcrumb ul li				{ color:#cdcdcd;float:left;padding:0 5px;}
#breadcrumb ul li:first-child	{ padding-left:0;}
#breadcrumb ul li:last-child	{ padding-right:0;}
#breadcrumb ul li a				{ color:#26b0e4; font-size:11px; }
#breadcrumb ul li a.current		{ text-decoration:none;}


/* Main Content Areas */
#all_content					{float:left;width:950px;}
#all_content #all_content_wrapper {float:left;width:950px; margin-bottom:21px;}
#all_content_wrapper #internal_content {float:left;width:700px;min-height:295px;}
#internal_content.full.no_nav.no_side {width:950px;}

#internal_content #main_content {float:left;}
#internal_content #main_left	{float:left;width:424px;border-left:1px solid #EDEDED;padding-left:25px;}
#internal_content.full.no_nav.no_side #main_left{width:950px;border:none;padding:0;}
#internal_content.no_nav #main_left{border:none;padding:0;}
#internal_content.no_nav #main_left, #internal_content.no_side #main_left, #internal_content.full.no_side {width:700px;}
#internal_content #main_right	{float:left;width:225px;margin-left:25px;}

#internal_content #main_left h1:first-child {margin-top:0;}

/* Side Navigation */
#all_content #side_nav			{float:left;width:225px;margin:0.5em 0 0 0;}
#all_content #side_nav .nav 	{float:left;width:225px;}
#all_content #side_nav .nav li 	{float:left;width:200px;padding:5px 0;font-size:1em;}
#all_content #side_nav .nav li.sub_nav {padding-left:15px;}
#all_content #side_nav .nav li.sub_sub_nav {padding-left:30px;}
#all_content #side_nav .nav li.sub_sub_nav.last {margin-bottom:10px;}
#all_content #side_nav .nav li:first-child {width:215px;}
#all_content #side_nav .nav li.top {padding-top:0;}
#all_content #side_nav .nav li a,
#all_content #side_nav .nav li a:link,
#all_content #side_nav .nav li a:visited {color:#3d9ed1;text-decoration:none;}
#all_content #side_nav .nav li a:hover {text-decoration:underline;}
#all_content #side_nav .nav li.active a {color:#1A5577;font-weight:bold;}


/* Lists and other CSS elements */
#internal_content #main_left ol, #internal_content #main_left ul {margin:15px 0;padding-left:30px;color:#050505;}
#internal_content #main_left ol li, #internal_content #main_left ul li {padding:5px 0;font-size:13px;line-height:200%;}
#internal_content #main_left ul {list-style-type:circle;}

#internal_content #main_left img.alignleft, 
#internal_content #main_left img.alignnull, 
#internal_content #main_left img 			{float:left;padding:5px 10px 10px 0;}
#internal_content #main_left img.alignright {float:right;padding:5px 0 10px 10px;}

/* Generic Classes */
.error, .validationerror {color:red;}
.light		{color:#999;}
.clear_both {clear:both;float:left;width:100%;height:10px;}

/* Galleries */
.gallery {float:left;margin:10px 0;}
.gallery.before {margin:0 0 10px 0;}
.gallery.after {margin:10px 0 0 0;}


























.left_sidebar.events			{ width:211px; min-height:500px;}
.right_sidebar.events			{ width:700px; min-height:500px;}


.customSelect {
    background-image: url("/layout/selectbox.jpg");
    height: 22px;
    padding-left: 20px;
    padding-top: 8px;
    width: 131px;
}

.customSelect.customSelectHover {
/* Styles for when the select box is hovered */
}

.customSelect.customSelectOpen {
/* Styles for when the select box is open */
}

.customSelect.customSelectFocus {
/* Styles for when the select box is in focus */
}

.customSelect.customSelectDisabledOption {
/* Styles for when the selected item is a disabled one */
}

.customSelect.customSelectDisabled {
/* Styles for when the select box itself is disabled */
}

.customSelectInner {
/* You can style the inner box too */
}

#datepicker				{ margin-bottom:20px;}

.ui-datepicker-header	{ height:34px; border:1px solid #16a1d3; border-radius:5px 5px 0px 0px; font-weight:normal; text-align:center; color:#fff; font-size:12px; padding-top:0px; background-image:url(/layout/bluegrad.jpg); position:relative;}

.ui-datepicker-prev, .ui-datepicker-next { position:absolute; height:17px; width:17px; cursor:pointer; top:10px; }

.ui-datepicker-prev span, .ui-datepicker-next span { display:none;  }
.ui-datepicker-title { margin-top:9px; position:relative; font-weight:bold;}
.ui-datepicker-prev { left:10px; background-image:url(/layout/leftarrow.jpg); width:14px; height:15px; top:9px;}
.ui-datepicker-next	{ right:10px; background-image:url(/layout/rightarrow.jpg); width:13px; height:14px;}
.ui-datepicker-calendar {  font-size:14px; font-weight:bold; margin:0 auto; width:100%; border:1px solid #dcdcde;}
.ui-datepicker-calendar td, .ui-datepicker-calendar th	{ text-align:center; background-color:#fff; border:1px dotted #dcdcde; color:#34363e;} 
td.ui-datepicker-other-month { background-color:#f3f3f3; position:relative; }
td.ui-datepicker-unselectable { color:#f3f3f3;}
a.ui-state-default {color:#34363e; text-decoration:none;}
.ui-datepicker-calendar td span, .ui-datepicker-calendar td a { color:#26b0e4; font-size:11px; font-weight:normal;  padding-top:4px; padding-bottom:4px; display:block;}

.ui-datepicker-calendar th { background-color:#fff; color:#024061; border:0px; font-size:11px; font-weight:normal; padding-top:4px; padding-bottom:4px;}
.ui-datepicker-calendar td a.ui-state-active { background-color:#01a0d8; color:#fff;}


.left_sidebar .events 					{  }
.calendar								{  }
.form_block								{ margin-bottom:20px;   }
.form_block h3							{ height:24px; border:1px solid #16a1d3; border-radius:5px 5px 0px 0px; font-weight:normal; text-align:left; padding-left:15px; color:#fff; font-size:12px; padding-top:0px; background-image:url(/layout/bluegrad.jpg); position:relative; padding-top:10px; font-weight:bold; margin-bottom:0px;line-height:150%;}

.form_block_inner						{background-color:#f4f5f6; background-image:url(/layout/list.jpg); border:1px solid #e1e1e2; border-radius:0px 0px 5px 5px; padding:15px; padding-top:0px;}
.form_block label						{ display:block; color:#000; margin-top:10px; margin-bottom:6px; font-size:11px;}
.form_block input[type=text]			{ border-radius:3px; padding:5px; border:1px solid #e0e1de; height:18px; width:165px;
-webkit-box-shadow: inset 0 0px 2px #ebe7e4;
-moz-box-shadow: inset 0 0px 2px #ebe7e4;
box-shadow: inset 0 0px 2px #ebe7e4;
}
.dateblock input[type=text]				{ display:inline-block; width:38px; margin-right:6px; }
.dateblock input[type=text]:last-child	{ margin-right:0px;}
.form_block input[type=submit]			{ background-image:url(/layout/submit_btn.jpg); width:110px; height:25px; border:0px none; padding:0px; margin-top:16px;}
.pic_block								{ margin-bottom:30px; }
.pb_image								{ position:relative; overflow:hidden; width:211px; height:auto; border-radius:0px 0px 5px 5px;}
.pb_image img							{ display:block; width:100%; border-radius:0px 0px 5px 5px;}
.pic_block .title						{ background-color:#26b0e3; color:#fff; padding:15px; position:relative; border-radius:5px 5px 0px 0px;  }
.date									{ position:absolute; right:15px; top:15px; background-color:#0282af; color:#fff; font-size:11px; padding:5px; border-radius:3px; }
.pic_block .title h3					{ font-size:18px; font-weight:normal; padding-right:40px; }
a.vn									{ text-decoration:none; color:#fff; text-transform:lowercase; font-size:11px; margin-top:10px; display:inline-block; background-image:url(/layout/rightarrow2.jpg); background-position:right 2px; padding-right:15px; background-repeat:no-repeat;  }
.right_sidebar.events					{  }
.right_sidebar.events h1				{ font-size:25px; font-weight:normal; color:#0c4f6c; margin-bottom:0px; padding-bottom:5px; border-bottom:5px solid #f3f4f6;  }
.events_header							{ padding-top:10px; padding-bottom:10px; border-bottom:1px solid #f3f4f6; overflow:hidden; height:30px;  }
.expand_map								{ background-image:url(/layout/map_view_btn.jpg); width:121px; height:25px; cursor:pointer; margin-top:2px;  }
.expand_map:hover						{ opacity:0.8;}
.filterby								{ float:right; font-size:12px;}
#filter {height: 31px !important;width: 151px !important;font-size:14px!important;}
#filter option { padding:3px;}
#map									{ width:700px; height:262px; margin-bottom:20px; margin-top:20px; }
.filterby								{  }
.events_list							{  }
.events_list .event						{ padding-top:30px; padding-bottom:30px; border-bottom:1px solid #f3f4f6; }
.events_list .image_wrap				{ border:4px solid #fff; background-color:#fff; width:212px; height:157px; overflow:hidden; border-radius:3px; box-shadow: 0 0 4px rgba(0,0,0,0.26); float:left; margin-right:10px; display:block; }
.events_list .image_wrap img			{ width:100%; display:block;}
.events_list .event_title				{ font-size:20px; color:#20526D; margin-bottom:2px; }
.events_list .event_date				{ color:#27b0e4; font-size:16px; margin-bottom:10px; }
.events_list .event_content				{ font-size:13px; line-height:18px; }
.events_list .readmore					{ border-radius:40px; text-decoration:none; padding:15px 0px; background-color:#1b5577; color:#fff; padding: 5px 20px 5px; display: inline-block; margin-top:15px; font-weight:bold; text-transform:uppercase; background-image:url(/layout/ve_btn.png); }


.events_list .event_single				{ padding-top:30px; padding-bottom:30px; border-bottom:1px solid #f3f4f6; }
.event_single .event_excerpt			{ font-size:15px; line-height:25px; }

.event_main_info						{ font-size:13px; line-height:20px; clear:both; margin-top:10px;}
.event_main_info h3, .event_gallery h3	{ font-weight:normal; font-size:20px; margin-bottom:20px; color:#20526D; margin-top:15px;}
.event_main_info ul						{ margin-left:40px; list-style:outside; margin-bottom:10px;}
.event_main_info ul li					{ margin-bottom:5px;}

.event_gallery .image_wrap				{ width:150px; height:150px; margin-right:20px}
.event_gallery .image_wrap:last-child	{ margin-right:0px; }
.event_gallery .image_wrap img			{ width:auto;}

.event_location							{ width:634px; background-color:#f5f6f7; border:1px solid #e8e9eb; margin-bottom:20px; height:190px; padding:30px;}
.event_location h3						{font-weight:normal; font-size:18px; margin-bottom:20px; color:#20526D; }
.address								{ color:#777; font-size:16px; line-height:24px;}

.booknow								{ text-decoration:none; border-radius:40px; padding:15px 0px; background-color:#1b5577; color:#fff; padding: 5px 20px 5px; 
								  display: inline-block; margin-top:15px; font-weight:bold; text-transform:uppercase; background-image:url(/layout/ve_btn.png); }
								  
.booknow:link, .booknow:visited, .booknow:hover	{ color:#fff;}
.static_map_right					{ width:420px; height:191px; float:right; overflow:hidden; }
.static_map_right img 				{ display:block; box-shadow: inset 0 0 5px rgba(0,0,0,0.49);}




/* stylish form used all round site */
.stylish_form p.news_text_phead {
	font-size:14px;
	margin:30px 0;
}

.stylish_form fieldset {
	width: 612px;
	float: left;
	margin-top: 30px;
}

.stylish_form fieldset.left, .stylish_form fieldset.right {
	/*width: 345px;*/
	width: 291px;
	float: left;
}

.stylish_form fieldset.left {
	margin-right: 30px;
}

.stylish_form legend {
	display: block;
	color: #1B322F;
	font-weight: bold;
	padding-bottom: 8px;
	font-size: 15px;
}

.stylish_form label {
	width: auto;
}

.stylish_form .input_box, .stylish_form select {
	width: 600px;
}

.stylish_form fieldset.left .input_box, .stylish_form fieldset.right .input_box, .stylish_form fieldset.left select, .stylish_form fieldset.right select {
	/*width: 335px;*/
	width: 279px;
}

.stylish_form fieldset.address {
	width:415px;
}


.stylish_form fieldset .nobold {
	font-weight:normal;
	font-size:14px;	
}

.stylish_form fieldset.left.full {
	width:100%;	
}

.stylish_form .input_box:focus {
	border: 1px solid #029FAE;
}

.stylish_form textarea.input_box {
	width: 708px;
	height: 200px;
}

.stylish_form select.fancy {
	height: 20px;
	font-size: 41px;
	font-size: 13px;
	margin-top: 10px;
}

.stylish_form .input_submit {
	
}

.stylish_form em {
	color: #F0581A;
}

.stylish_form fieldset.minor {
	float: right;
}

.stylish_form fieldset.minor.first {
	float: left;
}

.minor label {
	font-weight: normal;
}

.stylish_form fieldset.address .address_drop {
	width:445px;
}

.stylish_form .customStyleSelectBox {
	border: 2px solid #DFE0E0;
	-moz-border-radius: 3px;
	border-radius: 3px;
	height: 27px;
	padding: 3px;
	background: #FAFAFA url(/images/ux2/select-dropdown-arrow.png) no-repeat center right;
	overflow:hidden;
}

.stylish_form .customStyleSelectBoxInner {
	margin: 3px;
	margin-right: 31px;
	width: 236px !important;
}

.stylish_form fieldset.address .customStyleSelectBoxInner {
	width:429px !important;
	margin-right:0;
}

.stylish_form fieldset.giftaid img {
	float: left;
}

.stylish_form fieldset.giftaid .select_box {
	float: left;
	width: 94px;
	padding: 0 20px 0 30px;
}

.stylish_form fieldset.giftaid .select_box select {
	width: 80px;
}

.stylish_form fieldset.giftaid legend {
	float: left;
	width: 465px;
	display: inline-block;
	font-weight: normal;
	font-size: 13px;
	color: #898E8E;
}

.stylish_form fieldset.giftaid .customStyleSelectBoxInner {
	width: 50px !important;
}

.stylish_form fieldset.giftaid em.about {
	cursor: pointer;
}

.stylish_form fieldset.giftaid em.about:hover {
	text-decoration: underline;
}

.stylish_form fieldset.checkbox input {
	float: left;
	margin: 10px;
}

.stylish_form fieldset.checkbox legend {
	float: left;
	width: 684px;
}

.stylish_form fieldset.checkbox legend.marketing {
	color: #898E8E;
	font-size: 1em;
	font-weight: normal;
}

.stylish_form fieldset.checkbox legend :after {
	content: "";
	display: block;
	clear: both;
}

/* styligh form, just for trans: join, adopt, donate, shop */
.stylish_form.trans_form fieldset {
	width: 714px;
}

.stylish_form.trans_form fieldset.gift {
	border-top: 1px solid #EAEAEA;
	border-bottom: 1px solid #EAEAEA;
	background-color: #fafbfa;
	padding: 20px;
	width: 672px;
	margin-bottom: 30px;
}

.stylish_form.trans_form fieldset.title {
	
}

.stylish_form.trans_form fieldset.title .select_box {
	display: inline-block;
	width: 94px;
	padding: 0;
}

.input_box {
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #DFE0E0;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 2px #DEDEDE inset;
    font-size: 13px;
    height: 27px;
    padding: 2px 2px 2px 5px;
}

.stylish_form .input_box, .stylish_form select, .stylish_form textarea.input_box {    width: 456px; }
.stylish_form textarea.input_box { height:100px;}
.subtext {
    color: #777777;
    margin-left: 118px;
    padding: 10px;
    width: 397px;
	float:left;
}
.check_wrap {width: 456px; }
.stylish_form fieldset legend {
    color: black;
    display: inline-block;
    float: left;
    font-size: 14px;
    font-weight: normal;
    padding-left: 0;
	margin-top:6px;
    width: 125px;
}

.stylish_form.loginforms fieldset legend {width: 291px;}
.stylish_form.loginforms fieldset.newsletter legend {display:none;}
.stylish_form.loginforms fieldset.newsletter p {margin-top:6px;}
.stylish_form.loginforms fieldset.newsletter input[type="checkbox"] { vertical-align:middle;}

.stylish_form fieldset {
    margin-top: 18px;
}

.check-wrap, .radio-wrap {
    float: left;
    padding: 5px;
    width: 400px;
}
.check-wrap input, .radio-wrap input { margin-right:10px;}
.fieldset_inner { float:left; width:400px;}
.sliderBox								{ height:343px!important; }

.stylish_form select {
    font-size: 14px;
    padding: 3px;
    vertical-align: middle;
    width: 466px;
}

.stylish_form input.input_submit {
	display:block; margin-left:120px;
	background-image:url(/layout/bg.png);
	height:49px; width:auto; padding:10px 8px; color:#fff; border-radius:3px; border:1px solid #6c7ad0;    padding: 9px 45px; font-size:15px; margin-bottom:20px;}
	.form_title { font-size:18px; margin-bottom:24px;}
	.stylish_form select { margin-top:6px;}
	
	.form_title {
    font-size: 20px;
    font-weight: bold;
    margin: 31px 0 15px;
}

.input_box.invalid { background-color:#FF7B78; border:1px solid #D4132F;}
.error_notification { padding:10px 0px 10px 0px; color:#f00;}


.paragraph {
    float: left;
    line-height: 150%;
    margin-left: 120px;
    margin-top: 15px;
    width: 483px;
}













/* BUTTONS */
.btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}
.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
    background-color: #E6E6E6;
    color: #333333;
}
.btn:active, .btn.active {
}
.btn:first-child {
}
.btn:hover, .btn:focus {
    background-position: 0 -15px;
    color: #333333;
    text-decoration: none;
    transition: background-position 0.1s linear 0s;
}
.btn:focus {
    outline: thin dotted #333333;
    outline-offset: -2px;
}
.btn.active, .btn:active {
    background-image: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    outline: 0 none;
}
.btn.disabled, .btn[disabled] {
    background-image: none;
    box-shadow: none;
    cursor: default;
    opacity: 0.65;
}
.btn-large {
    border-radius: 6px 6px 6px 6px;
    font-size: 17.5px;
    padding: 11px 19px;
}
.btn-large [class^="icon-"], .btn-large [class*=" icon-"] {
    margin-top: 4px;
}
.btn-small {
    border-radius: 3px 3px 3px 3px;
    font-size: 11.9px;
    padding: 2px 10px;
}
.btn-small [class^="icon-"], .btn-small [class*=" icon-"] {
    margin-top: 0;
}
.btn-mini [class^="icon-"], .btn-mini [class*=" icon-"] {
    margin-top: -1px;
}
.btn-mini {
    border-radius: 3px 3px 3px 3px;
    font-size: 10.5px;
    padding: 0 6px;
}
.btn-block {
    -moz-box-sizing: border-box;
    display: block;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}
.btn-block + .btn-block {
    margin-top: 5px;
}
input.btn-block[type="submit"], input.btn-block[type="reset"], input.btn-block[type="button"] {
    width: 100%;
}
.btn-primary.active, .btn-warning.active, .btn-danger.active, .btn-success.active, .btn-info.active, .btn-inverse.active {
    color: rgba(255, 255, 255, 0.75);
}
.btn-primary {
    background-color: #006DCC;
    background-image: linear-gradient(to bottom, #0088CC, #0044CC);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    background-color: #0044CC;
    color: #FFFFFF;
}
.btn-primary:active, .btn-primary.active {
}
.btn-warning {
    background-color: #FAA732;
    background-image: linear-gradient(to bottom, #FBB450, #F89406);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
    background-color: #F89406;
    color: #FFFFFF;
}
.btn-warning:active, .btn-warning.active {
}
.btn-danger {
    background-color: #DA4F49;
    background-image: linear-gradient(to bottom, #EE5F5B, #BD362F);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
    background-color: #BD362F;
    color: #FFFFFF;
}
.btn-danger:active, .btn-danger.active {
}
.btn-success {
    background-color: #5BB75B;
    background-image: linear-gradient(to bottom, #62C462, #51A351);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
    background-color: #51A351;
    color: #FFFFFF;
}
.btn-success:active, .btn-success.active {
}
.btn-info {
    background-color: #49AFCD;
    background-image: linear-gradient(to bottom, #5BC0DE, #2F96B4);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    background-color: #2F96B4;
    color: #FFFFFF;
}
.btn-info:active, .btn-info.active {
}
.btn-inverse {
    background-color: #363636;
    background-image: linear-gradient(to bottom, #444444, #222222);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-inverse:hover, .btn-inverse:focus, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
    background-color: #222222;
    color: #FFFFFF;
}
.btn-inverse:active, .btn-inverse.active {
}
button.btn, input.btn[type="submit"] {
}
button.btn::-moz-focus-inner, input.btn[type="submit"]::-moz-focus-inner {
    border: 0 none;
    padding: 0;
}
button.btn.btn-large, input.btn.btn-large[type="submit"] {
}
button.btn.btn-small, input.btn.btn-small[type="submit"] {
}
button.btn.btn-mini, input.btn.btn-mini[type="submit"] {
}
.btn-link, .btn-link:active, .btn-link[disabled] {
    background-color: transparent;
    background-image: none;
    box-shadow: none;
}
.btn-link {
    border-color: transparent;
    border-radius: 0 0 0 0;
    color: #0088CC;
    cursor: pointer;
}
.btn-link:hover, .btn-link:focus {
    background-color: transparent;
    color: #005580;
    text-decoration: underline;
}
.btn-link[disabled]:hover, .btn-link[disabled]:focus {
    color: #333333;
    text-decoration: none;
}
.btn-group {
    display: inline-block;
    font-size: 0;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
}
.btn-group:first-child {
}
.btn-group + .btn-group {
    margin-left: 5px;
}
.btn-toolbar {
    font-size: 0;
    margin-bottom: 10px;
    margin-top: 10px;
}
.btn-toolbar > .btn + .btn, .btn-toolbar > .btn-group + .btn, .btn-toolbar > .btn + .btn-group {
    margin-left: 5px;
}
.btn-group > .btn {
    border-radius: 0 0 0 0;
    position: relative;
}
.btn-group > .btn + .btn {
    margin-left: -1px;
}
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
    font-size: 14px;
}
.btn-group > .btn-mini {
    font-size: 10.5px;
}
.btn-group > .btn-small {
    font-size: 11.9px;
}
.btn-group > .btn-large {
    font-size: 17.5px;
}
.btn-group > .btn:first-child {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    margin-left: 0;
}
.btn-group > .btn:last-child, .btn-group > .dropdown-toggle {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.btn-group > .btn.large:first-child {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    margin-left: 0;
}
.btn-group > .btn.large:last-child, .btn-group > .large.dropdown-toggle {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}
.btn-group > .btn:hover, .btn-group > .btn:focus, .btn-group > .btn:active, .btn-group > .btn.active {
    z-index: 2;
}
.btn-group .dropdown-toggle:active, .btn-group.open .dropdown-toggle {

    outline: 0 none;
}
.btn-group > .btn + .dropdown-toggle {
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.125) inset, 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    padding-left: 8px;
    padding-right: 8px;
}
.btn-group > .btn-mini + .dropdown-toggle {
    padding-left: 5px;
    padding-right: 5px;
}
.btn-group > .btn-small + .dropdown-toggle {
}
.btn-group > .btn-large + .dropdown-toggle {
    padding-left: 12px;
    padding-right: 12px;
}
.btn-group.open .dropdown-toggle {
    background-image: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn-group.open .btn.dropdown-toggle {
    background-color: #E6E6E6;
}
.btn-group.open .btn-primary.dropdown-toggle {
    background-color: #0044CC;
}
.btn-group.open .btn-warning.dropdown-toggle {
    background-color: #F89406;
}
.btn-group.open .btn-danger.dropdown-toggle {
    background-color: #BD362F;
}
.btn-group.open .btn-success.dropdown-toggle {
    background-color: #51A351;
}
.btn-group.open .btn-info.dropdown-toggle {
    background-color: #2F96B4;
}
.btn-group.open .btn-inverse.dropdown-toggle {
    background-color: #222222;
}
.btn .caret {
    margin-left: 0;
    margin-top: 8px;
}
.btn-large .caret {
    margin-top: 6px;
}
.btn-large .caret {
    border-left-width: 5px;
    border-right-width: 5px;
    border-top-width: 5px;
}
.btn-mini .caret, .btn-small .caret {
    margin-top: 8px;
}
.dropup .btn-large .caret {
    border-bottom-width: 5px;
}
.btn-primary .caret, .btn-warning .caret, .btn-danger .caret, .btn-info .caret, .btn-success .caret, .btn-inverse .caret {
    border-bottom-color: #FFFFFF;
    border-top-color: #FFFFFF;
}
.btn-group-vertical {
    display: inline-block;
}
.btn-group-vertical > .btn {
    border-radius: 0 0 0 0;
    display: block;
    float: none;
    max-width: 100%;
}
.btn-group-vertical > .btn + .btn {
    margin-left: 0;
    margin-top: -1px;
}
.btn-group-vertical > .btn:first-child {
    border-radius: 4px 4px 0 0;
}
.btn-group-vertical > .btn:last-child {
    border-radius: 0 0 4px 4px;
}
.btn-group-vertical > .btn-large:first-child {
    border-radius: 6px 6px 0 0;
}
.btn-group-vertical > .btn-large:last-child {
    border-radius: 0 0 6px 6px;
}
.hide-on-load { display:none; }