.tribute_live.is_live			{ background-image:url("/cms/images/tick.png"); width:16px; height:16px; display:block; background-repeat:no-repeat;  cursor:pointer;}
.tribute_live.is_not_live		{ background-image:url("/cms/images/icons/notlive.gif"); width:16px; height:16px; display:block; background-repeat:no-repeat;  cursor:pointer;}

.tribute_delete					{ background-image:url("/cms/images/icons/delete.gif"); width:16px; height:16px; display:block; background-repeat:no-repeat;  cursor:pointer;}

.comment { width:400px; padding:10px; border-bottom:1px solid #ccc;}
.comment_edit, .comment_delete { display:inline-block; margin-top:4px; margin-right:4px; cursor:pointer;}
.comment_edit:hover, .comment_delete:hover { opacity:0.7;} 
.comment_name { color:#3C285B; font-size:18px; margin-bottom:3px; margin-right: 5px; display:inline-block;}
.comment_email { display:inline-block; color:#06F;}
.comment_date { display:block; margin-bottom:4px; }
.comment_text { font-size:12px; line-height:18px;}

.update_wrapper { float:none; display:block; border-bottom:1px solid #ddd; padding-bottom:20px;}


.comment_template input, .comment_template textarea { background-color:#fff; padding:3px; font-family:Arial, Helvetica, sans-serif; border:1px dotted #ddd;}

.comment_template							{ background-color:#F8F8F8; margin-top:5px; display:none;}
.comment_template .comment_name input 		{ color:#3C285B; width:300px; font-size:18px;}
.comment_template .comment_email 			{ display:block;}
.comment_template .comment_email input 		{ color:#06F; font-size:14px; width:300px;}
.comment_template .comment_date input 		{ font-size:14px; margin-top:5px; color:#6E7063; }
.comment_template .comment_text textarea 	{  font-size:12px; line-height:18px; width:300px; height:118px; margin-bottom:5px;}
.comment_template .template_title			{ font-size:15px; font-weight:bold; margin-bottom:5px; margin-left:5px;}

.comment_candle								{ padding-top:5px; padding-bottom:5px;}

.donations 									{ border-bottom:1px solid #ddd; padding-bottom:20px; }

.progress									{ background-color:#F4F4F4; height:20px; margin-bottom:5px; border-radius:3px; overflow:hidden; width:400px; position:relative; }

.bar										{ background-color:#093; height:20px; width:0%;}
.image_wrapper								{-webkit-box-shadow: 0 0 6px rgba(0,0,0,0.35);
-moz-box-shadow: 0 0 6px rgba(0,0,0,0.35);
box-shadow: 0 0 6px rgba(0,0,0,0.35); background-color:#F8F8F8; width:180px; height:180px; overflow:hidden; margin-right:10px; margin-bottom:10px; display:inline-block; vertical-align:top; position:relative;}

.image_wrapper .inner 				{ background-color:#9bedae; height:180px; width:0%;}
.close								{ width:30px; height:30px; background-image:url('/cms/images/close.png'); position:absolute; right:3px; top:5px;}
.close:hover						{ cursor:pointer; opacity:0.8;}

.fileinput-button input {
    cursor: pointer;
    direction: ltr;
    font-size: 23px;
    margin: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
	width:100px;
}

.btn-success {
    background-color: #5BB75B;
    background-image: linear-gradient(to bottom, #62C462, #51A351);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.upload-btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
	position:relative;
	margin-bottom:15px;
}